.button{
  &.ant-btn{
    height: unset;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 600;
    &.primary{
      background: #1186DC;
      border: 1px solid #1186DC;
      padding: 5px 8px;
      color: white;
      &:hover{
        color: 	#1186DC;
        background: white;
        border: 1px solid #1186DC;
      }
    }
    &.secondary{
      background: white;
      border: 1px solid #1186DC;
      padding: 5px 8px;
      color:#1186DC;
    }
    &.success{
      background:#008000;
      padding: 8px 10px;
      color: white;
      border: 1px solid transparent;
      &:hover{
        color: 	#008000;
        background: white;
        border: 1px solid #008000;
      }
    }
    &.danger{
      background: red;
      color: white;
      padding: 5px 8px;
      border: 1px solid transparent;
      &:hover{
        color:red;
        background: white;
        border: 1px solid red;
      }
    }
    &.large{
      padding: 10px 25px;
    }
  }
}