.ant-drawer{
    .ant-drawer-content-wrapper{
        width: 100vw !important;
        .ant-drawer-body{
            padding: 0 !important;
            background: #141C33;
            .auth__drawer__back__button{
                color: white;
                position: absolute;
                top: 20px;
                left: 20px;
                z-index: 1001;
                font-size: 24px;
                width: 25px;
            }
            .auth__cover{
                width: 100vw;
                opacity: 0.5;
            }
            .drawer__form__container{
                padding: 20px;
                background: #141C33;
                transform: translate(0, -70px);
                border-radius: 46px 46px 0px 0px;
                .auth__drawer__logo__container{
                    display: flex;
                    justify-content: center;
                    transform: translate(0, -40px);
                    margin-bottom: -20px;
                }
            }
        }
    }
}