.custom_box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-center {
    text-align: center;
}

.otp-input input {
    padding: 15px 10px;
    border-radius: 10px;
    margin: 5px;
}